:root {
  --primary-color: #4e73df;
  --secondary-color: #f8f9fc;
  --text-color: #5a5c69;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  height: 100vh;
}

.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-header {
  background-color: white;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  padding: 1.5rem;
}

.form-control {
  border-radius: 10rem;
  font-size: 0.8rem;
  padding: 1.5rem 1rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(78, 115, 223, 0.25);
  border-color: #bac8f3;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 10rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
}

.btn-primary:hover {
  background-color: #2e59d9;
  border-color: #2653d4;
}

.btn-block {
  display: block;
  width: 100%;
}

.divider:after, .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #e3e6f0;
}

.input-group-text {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.input-group .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.register-heading {
  color: var(--primary-color);
  font-weight: 700;
}

.logo {
  width: 70px;
  height: 70px;
}
